<html>
  <head>
    <title><%= title %></title>
    </head>
  <body>
    <h1><%= title %></h1>
    <p>Adition of No <%= sum %></p>
    <p>Multiplication of No <%= mul %></p>
    <p>Substraction of No <%= sub %></p>
    <p>Dividation of No <%= div %></p>
  </body>
   
  
    </html>